html {
  font-family: cursive;
  margin: 0;
  padding: 0; }
  html body {
    margin: 0;
    padding: 0; }
    html body header {
      background: #ffffff;
      opacity: 5;
      width: 95%;
      margin-top: 0px;
      height: 80px;
      position: absolute;
      top: 0;
      height: 200px/2;
      display: flex;
      flex-direction: row; }
      html body header .menu {
        text-align: right;
        padding-left: 750px; }
        html body header .menu li {
          display: inline-block;
          padding: 15px;
          text-decoration: none; }
          html body header .menu li .active {
            background-color: #03658C;
            color: #ffffff; }
      html body header .logo-home {
        text-align: left;
        border-radius: 5px; }
    html body main {
      background-image: url(../media/Lonas.jpeg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed; }
      html body main div.__container-index {
        width: 95%;
        display: inline-block; }
        html body main div.__container-index h1 {
          width: 95%;
          text-align: center;
          padding-top: 100px;
          padding-right: 9.25rem;
          background: linear-gradient(to bottom, #ffffff 55%, #03658C); }
        html body main div.__container-index #__card0 {
          margin-left: 1cm; }
        html body main div.__container-index #__card1 {
          margin-left: 0.5cm; }
        html body main div.__container-index #__card2 {
          padding-right: -1cm; }
        html body main div.__container-index .__card {
          margin-top: 0;
          background-color: #ffffff;
          margin-left: 1rem;
          display: inline-table;
          width: 450px;
          height: 500px;
          position: relative;
          top: 1rem; }
          html body main div.__container-index .__card img, html body main div.__container-index .__card #videotelar {
            width: 450px;
            height: 300px; }
          html body main div.__container-index .__card .__texto-card {
            text-align: center; }
          html body main div.__container-index .__card .__boton-card {
            margin-left: 100px; }
            html body main div.__container-index .__card .__boton-card #boton-card0 {
              margin-left: 50px; }
            html body main div.__container-index .__card .__boton-card .__button {
              font-size: 16pt;
              border-radius: 20px;
              background-color: #b3cb4c;
              color: #03658C; }
            html body main div.__container-index .__card .__boton-card :hover.__button {
              background-color: #03658C;
              color: #b3cb4c; }
        html body main div.__container-index .sub {
          text-align: center;
          margin-right: -4.6rem;
          background: linear-gradient(to bottom, #ffffff 55%, #03658C); }
        html body main div.__container-index .tabla {
          padding-right: 150px;
          padding-left: 50px; }
        html body main div.__container-index #tabla-form {
          background-color: #b3cb4c;
          width: 1400px;
          padding-left: 60px;
          display: flex;
          flex-direction: column;
          margin-bottom: 50px; }
        html body main div.__container-index #formulario {
          margin-top: 100px;
          margin-right: 120px;
          text-align: center;
          color: #ffffff;
          background-color: #BF6B04; }
        html body main div.__container-index #columna2 {
          display: flex;
          flex-direction: column;
          margin-top: 100px;
          margin-right: 150px;
          text-align: center;
          color: #ffffff;
          background-color: #BF6B04; }
  html footer .__final {
    width: 90%;
    text-align: center; }
  html footer div {
    text-align: right !important;
    margin-right: 1rem; }
