$ancho-max: 95%;
$ancho-card:450px;
$altura-card:500px;
$altura-img:300px;
$ancho-form: 1400px;
$centrado: center;
$der: right;
$izq: left;
$color-primario: #ffffff;
$color-secundario:#b3cb4c;
$color-terciario: #03658C;
$color-cuaternario: #BF6B04;
html {
        font-family: cursive ;
        margin: 0; padding: 0;
    body {
        margin: 0; padding: 0;
        header {
            background: $color-primario;
            opacity: 5;
            width: $ancho-max;
            margin-top: 0px;
            height: 80px;
            position: absolute;
            top: 0;
            height: 200px/2;
            display: flex;
            flex-direction: row;
            .menu {
                text-align: right;
                padding-left: 750px;
                li {
                    display: inline-block;
                    padding: 15px;
                    text-decoration: none;
                        .active {
                            background-color: $color-terciario;
                            color: $color-primario;
                        }
                }
            }
            .logo-home{
                text-align: $izq;
                border-radius: 5px;
            }
        }
        main {
                background-image: url(../media/Lonas.jpeg) ;
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            
            
            div.__container-index {
                width: $ancho-max;
                display: inline-block;
                h1 {
                    width: $ancho-max;
                    text-align: $centrado;
                    padding-top: 50px + 50px;
                    padding-right: 9.25rem;
                    background: linear-gradient(to bottom,   $color-primario 55%, $color-terciario);
                    
                }
              
                .__card {
                    margin-top: 0;
                    background-color:$color-primario ;
                    margin-left: 1rem;
                    display: inline-block;
                    width: $ancho-card ;
                    height: $altura-card;
                    position:relative;
                    top: 1rem;
                    img,#videotelar {
                        width: $ancho-card;
                        height: $altura-img;
                    }
                
                    .__texto-card {
                        text-align: $centrado;

                    }
                    .__boton-card {
                        margin-left: 100px*2;
                    .__button {
                        font-size: 16pt;
                        border-radius: 20px;
                        background-color: $color-secundario;
                        color: $color-terciario;
                    }
                    :hover.__button {
                        background-color: $color-terciario;
                        color: $color-secundario;
                    }
                }
                    
                }
                .sub {
                    text-align: $centrado;
                    margin-right: -4.6rem;
                    background: linear-gradient(to bottom, $color-primario 55%, $color-terciario);
                    
                    
                }


                .tabla {
                    padding-right: 150px;
                    padding-left: 50px;
                }

                #tabla-form {
                    background-color: $color-secundario;
                    width: $ancho-form;
                    padding-left: 60px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 50px;
                    
                }

                #formulario {
                    margin-top: 100px; ;
                    margin-right: 120px;
                    text-align: $centrado;
                    color: $color-primario;
                    background-color: $color-cuaternario;
                            }

                    #columna2 {
                        display: flex;
                        flex-direction: column;
                        margin-top: 100px;
                        margin-right: 150px;
                        text-align:$centrado;
                        color: $color-primario;
                        background-color: $color-cuaternario;}        
                        }

                    }
                }
                

            
        
        footer {
                .__final{
                width: 90%;
                text-align: $centrado;
                }
                div {
                    text-align: $der !important;
                    margin-right: 1rem;
                }
            
                    
        }

    }





//
//

//
//       body 
//
//            header
//
//                logo-home izq
//
//
//
//
//
//                menu 
 //
//                   li der
//
//                    :active color
//
//
 //
//           main
  //
//              __container-index ancho max
  //
//              __card
   //
//             __textocard
  //
//              __button
   //
//             __video
  //
//              __boton-card

  //
//          h2

   //
//         tabla-form
 //
//               Lista0
  //
//                  ...
  //
//              columna2
//
//
 //
//           footer
 //
//               p
   //
//             div
//
//                p
