/*------------------------------------------------------------------------navbar css*/

.navbar{
    display: inline-block;
    padding: 15px;
}

.menu {

    text-align: right;
    padding-left: 400px;

}

.active{
    background-color: #b6b439;
    
}

#imglogo {
    border-radius: 50px;
}

.headertrack {
    background: #ffffff;
    opacity: 5;
    width: 100%;
    margin: 0px;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    
}
a:hover {
    color: #A62655;

}
/*------------------------------------------------------------------------formulario*/
#ubicacion,
#puede-ubicarnos {
    text-align: center;
    
}

#formulario {
    text-align: center;
    text-indent: -40px;
    color: white;
    background-color: #BF6B04;

}
#Nombre {
    margin-top: 30px;
    text-align: center;
}

#Tel {
    text-align: center;
}

#email {
    text-align: center;
}

#tabla-form {

    width: 1400px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

}

#columna2 {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
    color: white;
    background-color: #BF6B04;
}
/*------------------------------------------------------------------------titulos*/
h1, h2 {
    text-align: center;
    background: #03658C;
    color: white;
    margin: 0px;

}
h1 {
    background: linear-gradient(to bottom,   white 55%, #03658c);
    
}


/*------------------------------------------------------------------------pie de pagina*/
footer {
    text-align: center;
    background: #ffffff;
    margin: 0px,0px,0px,0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 0;
    background: linear-gradient(to top,  #03658c  ,white );
    

}
.final {
    margin: 0px;
}
#pie {
    text-align: right;
    padding-right: 50px;
    
}
/*------------------------------------------------------------------------tipografia*/

.button:hover {
    animation-duration: 2s;
    animation-name:boton;
    animation-fill-mode: forwards;
}
@keyframes button {
    0%   {transform: scale(1);}
    100% {transform: scale(1.1);}
}

* {
    text-decoration: none;
    font-family: cursive;
    
}
body {
    margin: 0px;
}
/*------------------------------------------------------------------------Nosotros*/
#mainNosotros {
    width: 100%;
    height: 100%;
}
#manos{
    width: 250px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 150px;
    
    
}
.containergrid, .containergrid0{
    display:grid;
    grid-template-columns: 50% auto;
    background-color:#b3cb4c;
    margin-left: 200px;
    margin-right: 200px;
    

}

#bodynosotros {
    background-image: url(../Media/Lonas.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1.titulo1 {
    padding-top: 100px;
    
    
    
} 

#botonNosotros:hover {
    background: white;
}

#divBotonNosotros{
    text-align: right;
    margin-right: 350px;
    margin-top: 50px;
}
#botonNosotros{
    border: none;
    background-color:darkgray;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18pt;
    text-align: right;
    position: absolute;

    

}
span.nosotros{
    padding-top: 50px;
}
span.equipo {
    margin-left: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

 
/*------------------------------------------------------------------------lonas*/

#bodyLonas{
background-color: #b3cb4c;
}
.button{
    border: none;
    background-color:darkgray;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18pt;
    margin-bottom:25px;
}
.button:hover {
    animation-duration: 2s;
    animation-name:scale;
    animation-fill-mode: forwards;
}
.trabajosRealizados{
    margin-top: 25px;
}

#vela:hover {
    animation-duration: 2s;
    animation-name:vela;
    animation-fill-mode: forwards;
}


#vela{
    width: 500px;
    
}

#reja:hover {
    animation-duration: 2s;
    animation-name:reja;
    animation-fill-mode: forwards;
}

#reja{
    width: 445px;
}

#pileta:hover {
    animation-duration: 2s;
    animation-name:pileta;
    animation-fill-mode: forwards;
}

#pileta {
    width: 250px;
}

@keyframes vela {
    0%   {transform: scale(1);}
    100% {transform: scale(1.1);}
}

@keyframes pileta {
    0%   {transform: scale(1);}
    100% {transform: scale(1.1);}
}

@keyframes reja {
    0%   {transform: scale(1);}
    100% {transform: scale(1.1);}
}


.button:hover {
    background-color: white;

}
/*------------------------------------------------------------------------contacto*/
#bodycontacto {
    background-image: url(../Media/Lonas.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*------------------------------------------------------------------------eslingas*/
#bodyEslingas{
    background-color:#b3cb4c ;
}

#subEsl {
    margin-top: 5px;
}

.eslinga img {
    grid-area: foto;
    margin-left: 20px;

}
.eslinga button {
    grid-area: boton;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.eslinga button:hover {
    animation-duration: 2s;
    animation-name:scale;
    animation-fill-mode: forwards;
}

.criquet img {
    grid-area: foto;
    margin-left: 20px;
}
.criquet button {
    grid-area: boton;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.criquet button:hover {
    animation-duration: 2s;
    animation-name:scale;
    animation-fill-mode: forwards; 
}
.eslinga , .criquet {
    margin-top: 10px;
    margin-bottom: 10px;
    display:grid;
    grid-template-columns: auto;
    grid-template-areas: 
    " foto texto boton ";
}

#texto {
    grid-area: texto;
    vertical-align: middle;
    font-size: 14pt;
}

.criquet img:hover {
    animation-duration: 2s;
    animation-name:scale;
    animation-fill-mode: forwards;
}

.eslinga img:hover {
    animation-duration: 2s;
    animation-name:scale;
    animation-fill-mode: forwards;    
}

@keyframes scale {
    0%   {transform: scale(1);}
    100% {transform: scale(1.1);}
}

/*------------------------------------------------------------------------inicio*/
.bodyindex {
    background-image: url(../Media/Lonas.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.trabajos{
    padding-top: 15px;
}


#trabajos {
margin-left: 20%;
margin-bottom: 4%;
margin-top: 2%;
box-shadow:20px 20px 50px 15px grey;
}








